.transports-component
  width: 100%
  &__text
    padding-left: 45px
    margin: 3% auto
    &_subtitle
      color: #000
      font-size: 24px
      font-weight: 400
      padding: 0
      margin: 0
  &__container
    background-color: #F2F2F2
    border-radius: 30px
    padding: 40px
    display: flex
    flex-direction: row
    &_images
      width: 45%
      margin-right: 20px

.swiper
  width: 100%
  height: 100%
.swiper-slide
  text-align: left
  font-size: 18px
  display: flex
  justify-content: flex-start
  align-items: center
.swiper-pagination
  text-align: left!important
.swiper-pagination-bullet
  width: 60px!important
  height: 7px!important
  border-radius: 10px!important
  line-height: 20px
  font-size: 12px
  color: #000
  opacity: 1
  background: rgba(0, 0, 0, 0.2)

@media only screen and (max-width: 1024px)
  .transports-component__title
    margin: 0 0 35px 0
  .title-transport
    margin: 0 0 30px 0

@media only screen and (max-width: 600px)
  .transports-component
    padding: 0
    margin: 50px 0
    &__title
      font-size: 36px
    &__text
      padding: 0 0 0 25px
    &__container
      display: flex
      flex-direction: column-reverse
      &_images
        width: 100%
  .swiper-pagination-bullet
    width: 40px!important

@media only screen and (max-width: 475px)
  .transports-component__container
    padding: 20px
